# Ques.1 Check the head of the DataFrame.

In [ ]:
import pandas as pd
df = pd.read_csv('Ecommerce.csv')
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [ ]:
import numpy as np

# Ques.2 How many rows and columns are there?

In [4]:
df.shape

(10000, 14)

# Ques.3 What is the average Purchase Price?

In [5]:
average = df['Purchase Price'].mean()
average

50.347302

# Ques.4 What were the highest and lowest purchase prices?

In [6]:
highest_price = df['Purchase Price'].max()
lowest_price = df['Purchase Price'].min()

In [7]:
highest_price

99.99

In [8]:
lowest_price

0.0

# Ques 5 How many people have English 'en' as their Language of choice on the website?

In [9]:
count = df[df['Language'] == 'en'].shape[0]
count

1098

# Ques 6 How many people have the job title of "Lawyer" ?

In [10]:
num_lawyers = len(df[df['Job'] == 'Lawyer'])
num_lawyers

30

# Ques 7 How many people made the purchase during the AM and how many people made the purchase during PM ?

In [11]:
num_am = len(df[df['AM or PM'] == 'AM'])
num_pm = len(df[df['AM or PM'] == 'PM'])

In [12]:
num_am

4932

In [13]:
num_pm

5068

# Ques 8 What are the 5 most common Job Titles?

In [14]:
top_5_jobs = df['Job'].value_counts().head()

In [27]:
top_5_jobs

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

# Ques 9 Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [16]:
purchase_price = df.loc[df['Lot'] == '90 WT', 'Purchase Price'].values[0]
purchase_price

75.1

# Ques 10 What is the email of the person with the following Credit Card Number: 4926535242672853

In [25]:
email = df[df['Credit Card']==4926535242672853]['Email']
email

1234    bondellen@williams-garza.com
Name: Email, dtype: object

# Ques 11 How many people have American Express as their Credit Card Provider *and made a purchase above $95 ?

In [27]:
count_people = len(df[(df['CC Provider']=='American Express') & (df['Purchase Price'] > 95)])
count_people

39

# Ques 12 How many people have a credit card that expires in 2025?

In [11]:
count = df[df['CC Exp Date'].str.contains('25')].shape[0]

print(f"The number of people who have a credit card that expires in 2025 is {count}.")

The number of people who have a credit card that expires in 2025 is 1033.

# Ques 13 What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [10]:
email_count = df['Email'].apply(lambda x:x.split('@')).value_counts().head()
email_count

[leekathy, yahoo.com]         2
[joshua41, hotmail.com]       2
[christopher29, gmail.com]    2
[ethomas, hotmail.com]        2
[brownjohn, hotmail.com]      2
Name: Email, dtype: int64